.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pokemon {
  width: 40vw;
  display: inline-block;
}

.sprite {
  width: 40vw;
}

.smallMon {
  display: inline-block;
  border: 1px solid grey;
}

.types {
  display:          inline;
  font-size:        14;
  margin:           1em;
  background-color: white;
  border-radius:    5px;
  box-shadow:       2px 2px;
  padding:          0.5em
}

.App-link {
  color: #61dafb;
}

.loadingBar {
  background-color: navy;
  height: 5px;
  border-radius: 3px;
}

.cb-label {
  width: 4em;
  display: inline-block;
  border: 1px solid grey;
}
input {
  width: 100%;
}

.progress{
  width: 75%;
  margin-left: 12.5%;
}
.progress > h4 {
  text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
